MONGODB_URI=mongodb://root:PASSWORD@91.99.239.11:5734/?directConnection=true
SESSION_SECRET=change-this-to-a-strong-secret
PORT=3000

R2_ENDPOINT=https://7a5737a4271e198bc39ab3c30343afe1.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_BUCKET_NAME=vairusrestrunt
